body {
    background-color: #202A35;
    overflow: hidden
}

input {
    border-width: 0;
    outline: none;
    background-color: transparent;  /* 透明rgba(0, 0, 0, 0) */
    width: 666px;
    height: 20px;
    font-size: 18px;                /* 字体大小 */
    color: white;
    display: inline-block;
}

#terminal span {
    display: inline-block;
    font-size: 17px;
    color: white;
}

p {
    display: inline-block;
    font-size: 17px;
    color: white;
}

* {
    cursor: text;
}

#usr {
    color: #55ff55 !important;
}

.host {
    color: #5555FF !important;
}

#directory {
    color: #FFFF55 !important;
}

@keyframes blink { /* 闪烁 */
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

#pos {
    color: #FF5555 !important;
}

.text-gradient {
    background: white; /* 兼容旧浏览器 */
    background-image: linear-gradient(135deg, #FD6585 10%, #0D25B9 100%);
    -webkit-background-clip: text;
    color: transparent;
}